.header {
  background-color: #f6b7b7;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 60px auto;
}
.header strong {
  margin-top: 10px;
  display: block;
}
.form {
  border: 5px solid #2792ed;
  border-radius: 10px;
  padding: 35px 20px;
}
.form label {
  font-size: 20px;
  font-weight: 700;
}
.form input {
  margin-top: 20px;
}
.form-btn {
  margin: 12px auto;
}
.footer {
  margin: 60px auto;
}
.footer button {
  margin-top: 20px;
}
.footer-box {
  height: 100px;
}
